ul.skip-nav
	li
		a(href='#content') Skip to Main Content

#overlay


header
	.header-inner.max
		.logo-wrapper
			a(href="https://www.homecu.net")
				img.logo(src=logo_path, alt=cu_name+" Logo")
		.button-wrapper
			nav#nav
				a(href="rates.html") Rates
				a(href="contact.html") Contact
				a(href="about.html") About
			button.hb(data-toggle="modal", data-target="#hbLogin")
				i.fa.fa-lock
					span.sr-only #{db_identity}
			button.h-btn#navBtn
				span.sr-only Navigation Menu
				span.bar.t
				span.bar.m
				span.bar.b

.modal.fade#hbLogin(tabindex="-1", role="dialog", aria-labelledby="hbLabel", aria-hidden="true")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				.modal-title#hbLabel Online Account Access
				button.close(type="button", data-dismiss="modal", aria-label="Close")
					<span aria-hidden="true">&times;</span>
			.modal-body
				.modal-content
					.hb-wrapper
						//- https://my.homecu.net/banking/hcuLogin.prg?cu=SCU
						if server === "my" && uses_homecu_banking
							- var formAction = "https://" + server + ".homecu.net/banking/hcuLogin.prg?cu=" + cu_code.toUpperCase()
						else if uses_homecu_banking
							- var formAction = "https://www" + server + ".homecu.net/hculive7/hcuLogin?cu=" + cu_code.toUpperCase()

						<form NAME="login" ACTION=#{formAction} METHOD="post">
							<input type="hidden" name="cu" value="#{cu_code.toUpperCase()}">
							<input type="hidden" name="btnLogin" value="login">

							<input name="username" type="text" class="hb-b" size="8" maxlength="50" aria-label="Account Number" placeholder="Account Number">
							<input class="hb-b" type="submit" name="imageField" src="images/hbl_btn.gif" alt="Login" value="Login">

							.hblinks
								if server === "my" && uses_homecu_banking
									<a href="https://#{server}.homecu.net/banking/hcuActivate.prg?cu=#{cu_code.toUpperCase()}">Enroll Now</a>
									<a href="https://#{server}.homecu.net/banking/hcuResetPwd.prg?cu=#{cu_code.toUpperCase()}">Forgot Password</a>
								else if uses_homecu_banking
									<a href="https://www#{server}.homecu.net/hculive7/hcuActivate?cu=#{cu_code.toUpperCase()}&">Enroll Now</a>
									<a href="https://www#{server}.homecu.net/hculive7/hcuResetPwd?cu=#{cu_code.toUpperCase()}">Forgot Password</a>
						</form>
			.modal-body.app-body
				.modal-content
					.apps-wrapper
						if app_apple_url
							a.app(href=app_apple_url, onclick="show3rdPartyDisclosure(this.href, 'iTunes.Apple.com'); return false;")
								<i class="fab fa-apple"><span class="sr-only">Apple</span></i>
						if app_android_url
							a.app(href="https://play.google.com/store/apps/developer?id=HomeCU+LLC+-+Home+Banking+for+Credit+Unions&hl=en_US", onclick="show3rdPartyDisclosure(this.href, 'Play.Google.com'); return false;")
								<i class="fab fa-android"><span class="sr-only">Android</span></i></a>

