p The #{ cu_name } Web Site is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein. Your use of the #{ cu_name } Web Site constitutes your agreement to all such terms, conditions, and notices.
p.bold MODIFICATION OF THESE TERMS OF USE:
p #{ cu_name } reserves the right to change the terms, conditions, and notices under which the #{ cu_name } Site/Services are offered. You are responsible for regularly reviewing these terms and conditions and additional terms. Your continued use of the #{ cu_name } Site/Services constitutes your agreement to all such terms, conditions, and notices.
p.bold PERSONAL AND NON-COMMERCIAL USE LIMITATION:
p Unless otherwise specified, the #{ cu_name } Site is for your personal and non-commercial use. You may not modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell any information, software, products or services obtained from the #{ cu_name } site.
p.bold LINKS TO THIRD PARTY SITES:
p The #{ cu_name } Site/Services may contain links to third party Web sites ("Linked Sites"). The Linked Sites are not under the control of #{ cu_name } and #{ cu_name } is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. #{ cu_name } is not responsible for webcasting or any other form of transmission received from any Linked Site nor is #{ cu_name } responsible if the Linked Site is not working appropriately. #{ cu_name } is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by #{ cu_name } of the site or any association with its operators. You are responsible for viewing and abiding by the privacy statements and terms of use posted at the Linked Sites. Any dealings with third parties (including advertisers) included within the #{ cu_name } Site/Services or participation in promotions, including the delivery of and the payment for goods and services, and any other terms, conditions, warranties or representations associated with such dealings or promotions, are solely between you and the advertiser or other third party. #{ cu_name } shall not be responsible or liable for any part of any such dealings or promotions.
p.bold NO UNLAWFUL OR PROHIBITED USE:
p As a condition of your use of the #{ cu_name } Site/Services, you will not use the #{ cu_name } Site/Services for any purpose that is unlawful or prohibited by these terms, conditions, and notices. You may not use the #{ cu_name } Site/Services in any manner which could damage, disable, overburden, or impair any #{ cu_name } Site/Service(s) (or the network(s) connected to any #{ cu_name } Site/Service(s)) or interfere with any other party's use and enjoyment of any #{ cu_name } Site/Service(s). You may not attempt to gain unauthorized access to any #{ cu_name } Site/Service, other accounts, computer systems or networks connected to any #{ cu_name } Site/Service, through hacking, password mining or any other means. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available through the #{ cu_name } Sites/Services. 

if email
	p Service Contact: 
		a(href="mailto:" + email) #{ email }

p.bold TERMINATION/ACCESS RESTRICTION:
p #{ cu_name } reserves the right, at its sole discretion, to terminate your access to the #{ cu_name } Site/Services and the related services or any portion thereof at any time, without notice. 

p #{ cu_name } may also terminate or suspend your access to #{ cu_name } Site/Service(s) for inactivity, which is defined as failing to log into a particular service for an extended period of time, as determined by #{ cu_name }. Upon termination of the #{ cu_name } Site/Service, your right to use the #{ cu_name } Site/Service immediately ceases. #{ cu_name } shall have no obligation to maintain any content or to forward any unread or unsent messages to you or any third party.
p.bold COPYRIGHT AND TRADEMARK NOTICES:
p All contents of the #{ cu_name } Web Site is: © 2019 #{ cu_name }. All Rights Reserved and/or its suppliers, #{ address_line_1 }, #{ address_line_2 }. 

p Any rights not expressly granted herein are reserved.